.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #181818;
  color: #fafafa;
}
.form-container {
  border: 1px solid #fafafa;
  padding:20px 80px;
  border-radius: 8px;
}
.title {
  text-align: center;
  font-family: 'Bree Serif';
  font-size: 30px;
  letter-spacing: 2.5px;
}
.sub-title {
  font-weight: 800;
  font-size: 35px;
  color: aquamarine;
}
.label-names{
  font-size: 18px;
  font-weight: 600;
}
.user-name {
  padding: 8px 10px;
  border-radius: 6px;
  width: 300px;
  cursor: pointer;
  outline: none;
}

.submit-button {
  padding: 8px 20px;
  margin-top: 10px;
  background-image: linear-gradient(to right,aquamarine ,yellow);
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}